<html>
	<head>
		<title>The Wall - Python </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
	<div id="container">
		<div id='header'> 
			<h3>Welcome {{user[0]['first_name']}}!</h3>
			<a name="log" href="/logout">Logout</a><hr>
		</div>
		<h4>Post a Message!</h4>
		<form action='/post_message' method='POST'>
			<input type='text' name='message'><br>
			<input type='hidden' name='user_id' value='{{user[0]['id']}}'> 
			<input type='submit' name='post_button' value='Post It!'> 
		</form> 
		{% if messages is defined: %}
			{% for message in messages: %}
				<div id="each">
	   				{% if message['mu_id'] == user[0]['id']: %}
	   					<a name="edit" href="/edit/{{message['message_id']}}">Edit My Post</a>
	   				{% endif %}
	   
	   				<div class="message_info">
	   					<p>Posted by: <b>{{message['first_name']}}</b> on {{message['posted_date'].strftime("%A %B %d, %H:%M")}}</p>
	   					{% if message['updated_date'] != None: %}

	   					Updated on: {{message['updated_date']}}
	   					{% endif %}
	   					
	   				</div>
	   				<h2>{{message['message']}}</h2> 
	   				<hr>

					<div id="comments">
	   					{% for comment in comments: %}
	   						{% if message['message_id'] == comment['message_id']: %}
	   							<p>{{comment['comment']}}</p>

	   							<p>{{comment['comment_update']}}</p>
	   							<div class="message_info">
	   								<b>{{comment['first_name']}} </b>commented on {{comment['comment_date'].strftime("%A %B %d, %H:%M")}} <br>
	   								{% if comment['comment_update'] != None: %}
	   									Updated on: {{comment['comment_update']}}
	   								{% endif %}
	   							</div>
	   							<br>
	   							{% if comment['user_id'] == user[0]['id']: %}
	   								<a name="edit_comment" href="/edit_comment/{{comment['comment_id']}}">Edit My Comment</a>
	   							{% endif %}
	   						{% endif %}
	   					{% endfor %}
	   				</div>

	   				<h5>Post a Comment</h5>
	   				<form action='/post_comment' method='POST'> 
	   					<input type='text' name='comment'><br>
	   					<input type='hidden' name='message_id' value='{{message['message_id']}}'>
	   					<input type='hidden' name='user_id' value='{{user[0]['id']}}'> 
	   					<input type='submit' name='comment_button' value='Comment'> 
	   				</form> 
	   			
	   			</div>
			{% endfor %}
		{% endif %}
	</div>
	</body>
</html>