<html>
	<head>
		<title>The Wall - Python </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='lrstyle.css') }}">
	</head>
	<body>
		<div id="container">
		<!-- Leave this session check here; if user session data show it means that the session has not cleared successfully! -->
		{{session['id']}}

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div id="message">
					<p>{{message}}</p>
					</div> 
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div class="box">
			<h1>Login</h1>
			<form action='/login' method='POST'>
				Email: <input type='text' name='email'><br>
				Password: <input type='password' name='password'><br>
				<input type='submit' value='Login'>
			</form>
		</div>
		<div class="box">
			<h1>Register</h1> 
			<form action='/register' method='POST'>
				First Name: <input type='text' name='first_name'><br>
				Last Name: <input type='text' name='last_name'><br>
				Email: <input type='text' name='email'><br>
				Password: <input type='password' name='password'><br>
				Password Confirmation: <input type='password' name='password_confirmation'><br>
				<input type='submit' value='Register'>
			</form>
		</div>
		</div>
	</body>
</html>